<p id="notice"><%= notice %></p>

<div class="page-header"><h3>Current Brew List <small>Show / hide columns dynamically</small></h3></div>


<div class="panel panel-default table-responsive">
    <div class="panel-heading">
        <a href="#" data-column="0" class="toggle-vis btn btn-default btn-sm">Distributor</a>
        <a href="#" data-column="1" class="toggle-vis btn btn-default btn-sm">Product</a>
        <a href="#" data-column="2" class="toggle-vis btn btn-default btn-sm">Location</a>

    </div>
    <div class="panel-body">

        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="toggleColumn-datatable">
            <thead>
    <tr>
      <th>Distributor</th>
      <th>Product</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.distributor %></td>
        <td><%= beer.product %></td>
        <td><%= beer.location_id %></td>
        <td><%= link_to 'Show', beer %></td>
        <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
        <td><%= link_to 'Destroy', beer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
    </div>
<br>

<%= link_to 'New Beer', new_beer_path %>
