<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>

<table>
  <thead>
    <tr>
      <th>Tent type</th>
      <th>Location</th>
      <th>Jockey box</th>
      <th>Bin</th>
      <th>Tables</th>
      <th>Completed</th>
      <th>Notes</th>
      <th>Long</th>
      <th>Lat</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.tent_type %></td>
        <td><%= location.location %></td>
        <td><%= location.jockey_box %></td>
        <td><%= location.bin %></td>
        <td><%= location.tables %></td>
        <td><%= location.completed %></td>
        <td><%= location.notes %></td>
        <td><%= location.long %></td>
        <td><%= location.lat %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
